[submodule "libs/GuiCode"]
	path = libs/GuiCode
	url = https://github.com/KaixoCode/GuiCode.git
[submodule "libs/rtaudio"]
	path = libs/rtaudio
	url = https://github.com/thestk/rtaudio.git
[submodule "libs/portaudio"]
	path = libs/portaudio
	url = https://github.com/PortAudio/portaudio.git
