[submodule "libs/GuiCode"]
	path = libs/GuiCode
	url = https://github.com/KaixoCode/GuiCode.git
[submodule "libs/portaudio"]
	path = libs/portaudio
	url = https://github.com/PortAudio/portaudio.git
[submodule "libs/AudioFile"]
	path = libs/AudioFile
	url = https://github.com/adamstark/AudioFile.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
[submodule "libs/EffectBase"]
	path = libs/EffectBase
	url = https://github.com/KaixoCode/EffectBase.git
